/venv/
/gaia_rs/gaia/migrations/
gaia_rs/gaia_rs/settings.py
/gaia_rs/db.sqlite3
/gaia_rs/job-results.json
/gaia_rs/openEO.tif
/gaia_rs/openEO.nc
/gaia_rs/media/ncdf/*.nc
/gaia_rs/media/images/*.tif
/gaia_rs/media/raster_files/*.tif

/gaia_rs/media/ncdf/openEO_7K9jY9T.nc.aux.xml
/gaia_rs/media/ncdf/openEO.nc.aux.xml
