{% extends "base.html" %}
{% block content %}
{% load render_table from django_tables2 %}
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>

<!-- datacube_detail.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Datacube Detail</title>
</head>
<body>
    <h1>Datacube Detail</h1>
     {% render_table datacube_table %}



    <h1>Datacube GeoImages</h1>

     {% render_table geoimages_table %}

        <h1>Geometry Map</h1>
    <div id="map" style="width: 100%; height: 600px;"></div>
    <script>
        var map = L.map('map').setView([{{center_latitude}}, {{center_longitude}}], 10); // Set your initial map view

         var osmUrl = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
            osmAttrib = '&copy; <a href="http://openstreetmap.org/copyright">OpenStreetMap</a> contributors',
            osm = L.tileLayer(osmUrl, { maxZoom: 18, attribution: osmAttrib })

        var pnoa= L.tileLayer.providerESP('PNOA').addTo(map);
        var ngeo=L.tileLayer.providerESP('NombresGeograficos').addTo(map);
        var pnoa_ngeo=L.layerGroup([pnoa,ngeo]);

        var control=L.control.layers({
        'OSM': osm.addTo(map),
        'PNOA': pnoa.addTo(map),
        'PNOA-NGEO': pnoa_ngeo.addTo(map)
        })
        control.addTo(map);
        var geometryData= {{ datacube.spatial_extent.geojson|safe }};
        L.geoJSON(geometryData).addTo(map);
    </script>
    <!-- Add other fields as needed -->
        <h1>TimeSeries</h1>
<div id="img">
    <img src="{{plot_image}}" alt="Process Datacube to get Timeseries" width="1000" height="500" onerror="imagenotfound()">

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    function updateTable() {
        $.ajax({
            url: '/datacube_detail/{{datacube.id}}',  // Replace with the actual URL
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                // Re-render the table with the updated data
                $('#table-container').html(data.html);
            },
            error: function (error) {
                console.error('Error:', error);
            }
        });
    }

    // Call the function to initially load the table
    updateTable();

    // Set up a timer to refresh the table every 5 seconds (5000 milliseconds)
    setInterval(updateTable, 10000);
</script>
<script>
    function imagenotfound() {
        document.getElementById("img").innerHTML = "TimeSeries not available";
    }
</script>

</body>
</html>
{% endblock %}

